- @photos.each do |photo|
  .item
    .blurtop
      = image_tag photo.image 
    .photo_title
      %h2
        = link_to photo.title, photo
    = image_tag photo.image      
    .question
      %p  
        = truncate photo.question, length: 150