/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  width: 100%;
  background: url("http://i.imgur.com/YDBa5SZ.png");
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

header a {
  display:inline-block;
  float:right;
}

.button {
  width: 100px;
  height: 90%;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.poptag {
  float:left;
  width: 10%;
  height: 90%;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.poptagcloud {
  float:left;
  width: 30%;
  height: 90%;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-bottom-right-radius: 3px;
  display: inline-block;
}

#upbut {
  border-bottom-left-radius: 3px;
}

#page-wrap {
  font-family: helvetica, sans-serif;
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 4em;
  font-weight: 300; 
  text-align: center;
}

.bold {
  font-weight: 700; 
}

#title {
  width: 100%;
  height: 50px;
  margin-top: 80px;
}

#container {
  width: 97%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.item{
  max-width: 300px;
  max-height: 500px;
  color: white;
  margin: 5px;
  border-radius: 3px;
}

.item img {
  width: 100%;
  border-radius: 3px;
}

.photo_title {
  background-color: rgba(255, 255, 255, .5);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  height: 45px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.photo_title h2 {
  vertical-align: middle;
  padding: 10px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blurtop {
  width: 100%;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.blurtop img {
  width: 100%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.question {
  background-color: rgba(255, 255, 255, .5);
  width: 95%;
  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 0 2.5% 0 2.5%;
  color: black;
  max-height: 80px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.question p {
  width: 95%;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a, a:active, a:hover, a:visited a:link {
  text-decoration: none;
  color: black;
}

#loading {
  display: none;
}

.none {
  display: none;
}

#pagination { 
  clear: left;
}

#centre {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

#centre input{
  width: 97%;
  margin: 0 auto;
  text-align: center;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  border: none;
  border-bottom: solid 2px gray;
  line-height: 2em;
}

#tag_cloud {
  width: 100%;
  line-height: 1.6em;
  color: white;
}

.s { font-size: 1.0rem; }
.m { font-size: 1.1rem; }
.l { font-size: 1.2rem; }

#tag_cloud a {
  float: left;
  margin-right: 5px;
  color: white;
  font-weight: 300;
}