/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  width: 100%;
  background: url("http://i.imgur.com/YDBa5SZ.png");
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

header nav {
  float:right;
}
header nav ul {
  list-style:none;
}
header nav li {
  display:inline-block;
}

#page-wrap {
  font-family: helvetica, sans-serif;
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  font-weight: 300; 
  text-align: center;
}

.bold {
  font-weight: 700; 
}

#title {
  width: 100%;
  height: 50px;
  margin-top: 80px;
}

#center {
  width: 100%;
}

#container {
  width: 97%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.item{
  max-width: 300px;
  max-height: 500px;
  color: white;
  margin: 5px;
  border-radius: 3px;
}

.item img {
  width: 100%;
  border-radius: 3px;
}

.photo_title {
  background-color: rgba(255, 255, 255, .5);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  font-family: 'Magra', sans-serif;
  font-size: 1.5em;
  height: 45px;
  border-radius: 3px;
}

.photo_title h2 {
  vertical-align: middle;
  padding: 10px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blurtop {
  width: 100%;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 3px;
}

.blurtop img {
  width: 100%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  border-radius: 3px;
}

.question {
  background-color: rgba(255, 255, 255, .5);
  width: 95%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 2.5% 0 2.5%;
  color: black;
  max-height: 80px;
  border-radius: 3px;
}

.question p {
  width: 95%;
  font-family: 'Inder', sans-serif;
  font-size: 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a, a:active, a:hover, a:visited a:link {
  text-decoration: none;
  color: black;
}

#loading {
  display: none;
}

.none {
  display: none;
}

#pagination { clear: left;}