// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_wrap {
  border: solid 2px black;
  width: 960px;
}

#main_photo {
  width: 100%;
}

.show_wrap h2 {
  font-family: 'Hammersmith One', sans-serif;
}

#title_container {
  width: 100%;
  background: black;
  position: relative;
  top: 0;
  left: 0;
  height: 46px;
  color: white;
  padding: 1px;
}

#question {
  // border: solid 2px black;
  width: 70%;
  margin: 0 auto;
  font-size: 30px;
  // height: 100px;
  padding: 20px;
  margin-bottom: 10px;
}




#tags_box {
  // border: solid 2px black;
  width: 100%;  
  display: inline;
  float: left;
  width: 100%;
  margin: 0 auto;
  
}



#album_show {
  // border: solid 2px black;
  width: 100%;
  margin-bottom: 3px;
}

#tweet {
  // border: solid 2px black;
  display: inline;
  float: left; 
  padding-left: 32px;
  width: 100%;
}

#show_nav {
  // border: solid 2px blue; 
  width: 100%;
  height: 50px;
}

#edit_show {
  // border: solid 2px black;  
  width: 15%;
  display: inline;
  float: left;  
  height: 100%;
  margin-left: 35%;
}

#back_show {
  // border: solid 2px black;
  width: 15%;
  display: inline;
  float: left;  
  height: 100%;
}

.answer {
  border: solid 2px black;
  padding: 5px; 
  margin: 0 auto; 
  margin-top: 25px;
  width: 70%;
  background-image:url('brushed.png');

}

.answer li {
    list-style-type: none;
}

#vote_description_wrapper {
  width: 100%;
  background-image:url('brushed.png');
  height: 200px;
}

#votes {
  // border: solid 2px black;
  display: inline;
  float: left;  
  width: 15%;
  height: 100%;
  padding-top: 30px;

}

#description {
  width: 85%;
  // border:2px solid;
  border-radius: 5px;
  display: inline;
  float: left;
  background-image:url('brushed.png');
  height: 100%;
}

#description p {
  padding: 4px;
}



